:root{
    --black-two: #111111;
    --white : #ffffff;
    --pinkish-grey-two: #ccc8c6;
    --bright-orange: #f96400;
    font-family: Montserrat;
    --dark-maroon: #020001;
    --black-three: #222222;
    --brownish-grey: #666666;
    --pumpkin-orange: #fa7b26;
    --cerulean: #0565bb;
    --sun-yellow: #fcd32a;
    --goldenrod: #fccb05;
    --bright-orange-two: #ff5500;
    --dark-brown: #110e03;
    --greyish: #a9a9a9;
}
.app{
    width: 1920px;
}

.navbar{
    background: var(--black-two);
    width: 100%;
    height: 80px;
}
.nav_box{
    width: 100%;
}
.logo{
    width: 226px;
    height: 26px;
    margin: 3px 687px 0 0;
    object-fit: contain;
    cursor: pointer;
}

.nav_content{
    height: 11px;
    display: inline;
    float: right;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    cursor: pointer;
}
.header_apply{
    margin-left: 79px;
    margin-right: 120px;
}
.header_login{
    margin-left:44px
}
.header_Rectangler{
    margin-left: 57px;
}
.header_rate{
    margin-left:75px;
}
.header_solution{
    margin-left:75px;
}

.img_bg{
    position: relative;
    width: 100%;
   
}

.intro_bg_tick{
    position: absolute;
    top: 200px;
    left: 150px;
    width: 667px;
    height: 125px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
}
.intro_bg_title{
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: left;
    text-transform: uppercase;
    
}
.intro_bg_content{
    margin-top: 40px;
    display:block;
}
.bes_tick{
    position: absolute;
    top: 150px;
    width:665px;
    left: 627px;
}
.span_title{
    display: block;
}
.bes_title{
    text-transform: uppercase;
    margin-bottom: 29px;
    margin-left: 75px;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: var(--bright-orange);
}
.bes_content{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: var(--bright-orange);
}
.best_img{
    position: absolute;
    display: flex;
    top: 362px;
    left: 160px;
}
.best_img-all{
    width: 530px;
}
.best_product{
    position: absolute;
    z-index: 1;
    top: -42px;
}
.best_img_box_1{
    position: absolute;
    z-index: 1;
    width: 369px;
    height: 79px;
    border: solid 3px var(--dark-maroon);
    background-color: var(--white);
    bottom: -40px;
    left: 70px;
    display: flex;
}
.img_go_icon_1{

    margin-top: 4px;
    width: 65px;
    height: 65px;
}
.best_img_box_content_1{
    width: 188px;
    height: 44px;
    margin: 10px 80px 15px 27px;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-three);
}

.best_img_box_2{
    position: absolute;
    z-index: 1;
    width: 369px;
    height: 79px;
    border: solid 3px var(--dark-maroon);
    background-color: var(--white);
    bottom: -40px;
    left: 610px;
    display: flex;
}
.best_img_box_3{
    position: absolute;
    z-index: 1;
    width: 369px;
    height: 79px;
    border: solid 3px var(--dark-maroon);
    background-color: var(--white);
    bottom: -40px;
    right: 80px;
    display: flex;
}

.container{
    width: 100%;
    background-color: var(--white);
   
}
.list_product{
    margin-top: 70px;
    width: 100%;
    margin-left: 174px;
    
}
.product{
    margin-left: -4px;
    margin-right: -4px;
    padding-bottom: 43px;
    transition: transform linear 0.1s;
    will-change: transform;
    
}
.product:hover{
    transform: translateY(-6px)
}
img.product{
    width: 300px;
    height: 300px;
    
}
.product_content{
    margin-top: 30px;
    font-size: 20.5px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-three)
}
.product_price{
  
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
.original_price{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-three);
}
.rate{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: left;
    color: var(--brownish-grey);
}
.like{
    margin-right: 10px;
    color: var(--pumpkin-orange);
}
.product_seemore{
    
    margin-top: 70px;
    margin-left: 36%;
}
.seemore_btn{
    text-transform: uppercase;
    width:200px;
    height: 60px;
    border: solid 3px var(--dark-maroon);
    background-color: var(--white);
    font-size: 23px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
    color: var(--black-three);
    border-radius: 3px;
    margin-bottom: 140px;
}

.seemore_btn:hover{
    border: solid 3px var(--pumpkin-orange);
    color: var(--pumpkin-orange);
}
.brand{
    width: 100%;
    mix-blend-mode: multiply;
    background-color: var(--cerulean);
}
.brand_story{
    position: relative;
    top: 148px;
    width:700px;
    margin-left: 32%;   
}
.brand_title{
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    text-align: center;
    color: var(--sun-yellow);
    margin-bottom: 18px;
}
.brand_content{
    margin-left: 40px;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: var(--sun-yellow);
}
.brand_content2{
    display: block;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: var(--sun-yellow);
}
.brand-img{
    width: 100%;
    height:820px;
    padding-bottom: -167px;
}
.jin_note{
    position: relative;
    left: 15px;
    top: 20px;

}
.name_jin{
    position: relative;
    bottom: 70px;
    float: right;
    right: 256px;
}
.jin_weeky{
    z-index: 1;
    position: relative;
    left:1600px;
    bottom: 50px;
}
.brand_book_1{
    position: relative;
    top: 40px;
}
.brand_book_2{
    position: relative;
    top: 82px;
    right: 4px;
}
.brand_book_3{
    background-image: url("/img/object-05.png");
    position: relative;
    background-repeat: no-repeat;
    width: 350px;
    height: 233px;
    float: right;
    top: 180px;
    z-index: 1;
}
.brand_book_4{
    background-image: url("/img/object-04.png");
    background-repeat: no-repeat;
    width: 220px;
    height: 457px;
    position: relative;
    float: right;
    bottom: 170px;
    left: 350px;
    object-fit: cover;
}
.brand_window{
    background-image: url("/img/window.png");
    background-repeat: no-repeat;
    width: 1253px;
    height: 441px;
    position: relative;
    z-index: 2;
    bottom: 350px;
    left:333px;
}
.brand_window_content{
    width: 528px;
    height: 135px;
    
    float: right;
    margin-top: 78px;
    margin-right: 50px;
}
.window_content_title{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-transform: uppercase;
}
.window_content_story{
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-three);
}
.btn_window{
    position: relative;
    top: 20px;
}
.brand_issue{
    width: 100%;
    height: 1143px;
    background-color: var(--goldenrod);
   
}
.issue_dice1{
    background-image: url("/img/news-object-03.png");
    background-repeat: no-repeat;
    width: 95px;
    height: 95px;
    float: right;
    margin-right:70px;
    margin-top:42px;
}
.issue_dice2{
    background-image: url("/img/news-object-02.png");
    background-repeat: no-repeat;
    width: 119px;
    height: 111px;
    float: right;
    margin-top: 163px;
    left: 95px;
    position: relative;
}

.issue_content{
    position: relative;
    width: 750px;
    margin-left: 32%;
    top: 146px;
}
.issue_title{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 4.5px;
    text-align: center;
    color: var(--dark-brown);
    margin-bottom: 15px;
}
.issue_content span{
    display: block;
    font-family: NotoSansCJKkr !important;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-brown);
}
.btn_issue{
    background-color: var(--sun-yellow);
    text-transform: uppercase;
    width:200px;
    height: 60px;
    border: solid 3px var(--dark-maroon);
    font-size: 23px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
    color: var(--black-three);
    border-radius: 3px;
    margin-bottom: 140px;
}
.issue_btn_seemore{
    margin-top: 52px;
    position: relative;
    text-align: center;
}
.btn_issue:hover{
    background-color: var(--white);
}
.issue_brand{
    width: 100%;
    height: 480px;
    position: relative;
    margin-top:128px;
}
.issue_brand_list{
    display: flex;   
}
.issue_brand_{
    background-color: var(--bright-orange-two);
    border: solid 3px var(--black-two);
}
.issue_brand-content{
    margin: 87px 100px 63px 97px;
}
.issue_brand-content span{
    display: block;
    text-transform: uppercase;
    width: 189px;
    font-size: 55px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-brown);

}
.brand_type{
    width: 384px;
    height: 480px;
    

}
.arrow{
    background-image: url("/img/news-img-01.png");
    background-repeat: no-repeat;
    width: 148px;
    height: 148px;
    margin-left: 115px;
}
.brand_type_title{
    height:75px;
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--dark-brown);
}
.brand_type_title-h{
    position: relative;
    top: 17px;
}
.issue_brand_a{
    background-image: url("/img/news-img-04.png");
    background-repeat: no-repeat;
    width: 385px;
    height: 405px;
}
.issue_brand_b{
    background-image: url("/img/news-img-03.png");
    background-repeat: no-repeat;
    width: 382px;
    height: 405px;
}
.issue_brand_c{
    background-image: url("/img/news-img-04.png");
    background-repeat: no-repeat;
    width: 385px;
    height: 405px;
}
.issue_brand_d{
    background-image: url("/img/news-img-05.png");
    background-repeat: no-repeat;
    width: 385px;
    height: 405px;
}
.title-d{
    background-color: var(--bright-orange-two);
    border-top: 3px solid var(--black-two);
    border-left: 3px solid var(--black-two);
}
.hot_tick{
    background-image: url("/img/news-object-04.png");
    width: 120px;
    height: 100px;
    background-repeat: no-repeat;
    position: absolute;
    top: -34px;
    left: 400px;
}
.coin_tick{
    background-image: url("/img/news-object-06.png");
    width: 175px;
    height: 175px;
    background-repeat: no-repeat;
    position: absolute;
    top: 390px;
    left: 230px;
}
.lol_tick{
    background-image: url("/img/news-object-05.png");
    background-repeat: no-repeat;
    width: 133px;
    height: 100px;
    position: absolute;
    top: 420px;
    left: 1430px;
}
.happend{
    width: 100%;
    background:var(--white);
}
.happend_content{
    margin-left:32%;
    width: 665px;
    margin-bottom: 53px;
}
.happend_title{
    margin-top: 34px;
    margin-bottom:15px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 10px;
    text-align: center;
    color: var(--black-two);
}
.happend_content span{
    display: block;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: var(--black-two);
   
}
.btn_happened{
    margin-left: 43%;
}
.H_img{
    background-image: url("/img/video-object-05.png");
    background-repeat: no-repeat;
    width: 146px;
    height: 114px;
    margin-left: 226px;
    position: relative;
}
.W_img{
    position: relative;
    background-image: url("/img/video-object-07.png");
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    bottom: 370px;
    float: right;
    right: 150px;
}
.love_img{
    position: relative;
    background-image: url("/img/video-object-06.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    float: right;
    z-index: 1;
    right: 80px;
    bottom: 260px;
}
.milk_img{
    position: relative;
    background-image: url("/img/video-object-04.png");
    background-repeat: no-repeat;
    width: 600px;
    height: 520px;
    right: 330px;
    bottom: 220px;
}
.black_img{
    position: relative;
    background-image: url("/img/video-object-09.png");
    background-repeat: no-repeat;
    width: 175px;
    height: 320px;
    float: right;
    bottom: 400px;
}
.girl_img{
    position: relative;
    background-image: url("/img/video-object-08.png");
    background-repeat: no-repeat;
    float: right;
    width: 400px;
    height: 512px;
    left: 175px;
    bottom: 120px;
}
.window2_img{
    position: relative;
    background-image: url("/img/video.png");
    background-repeat: no-repeat;
    width: 1251px;
    height: 823px;
    z-index: 2;
    left:340px;
    bottom:590px;
}
.H2_img{
    position: relative;
    background-image: url("/img/video-object-03.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    bottom: 660px;
    left: 230px;
}
.error_img{
    position: relative;
    background-image: url("/img/video-object-01.png");
    background-repeat: no-repeat;
    width: 411px;
    height: 204px;
    bottom: 700px;
    left: 353px;
    z-index: 1;
}
.footer_detail{
    position: relative;
    z-index: 10;
    width: 100%;
    bottom: 550px;
}
.footer_detail{
    height: 0px;
}
.footer_content{
    display: flex;
}

.footer_content-r{
    height: 135px;
}
.content_l_detail{
    margin-left: 110px;
}
.content_l_detail h4{
    margin-top: 49px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-two);
}
.content_l_detail span{
    display: block;
    font-family: NotoSansCJKkr !important;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-two);
    
}
.content_r_detail{
    float: right;
}
.content_r_detail h4{
    margin-top: 49px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-two);
}
.content_r_detail span{
    display: block;
    font-family: NotoSansCJKkr !important;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-two);
    margin-right: 110px ;
}

.footer_contact-l{
    margin-top: 80px;
    height: 100px;
    
}
.footer_contact-r{
    margin-top: 80px;
    height: 100px;
    display: flex;
    
}
.footer_contact-l span{
    margin-left: 109px;
    display: block;
    font-family: NotoSansCJKkr !important;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: var(--greyish);
}
.footer_contact_n{
    background-image: url("/img/snsicon-01.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    margin-left: 200px;
}
.footer_contact_f{
    background-image: url("/img/snsicon-02.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    margin-left: 20px;
}
.footer_contact_b{
    background-image: url("/img/snsicon-03.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    margin-left: 20px;
    
}